<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Main.Master.cs" Inherits="WebRunDragon.Forms.Main" %>

<%@ Register Assembly="DevExpress.Web.v15.1, Version=15.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta charset="utf-8" />
    <title>Smart Asset</title>

    <link href="../Css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="../Css/style.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../Scripts/global.js" type="text/javascript"></script>
    <script src="../Scripts/awesomplete.min.js" type="text/javascript"></script>

    <script src="../Scripts/left-menu.js" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <style type="text/css">
        .link {
            height: 0px;
        }
    </style>

</head>
<body>
    <form id="formMaster" runat="server">

        <%--  <table style="width: 100%">
            <tr>
                <td>
                    <table style="width: 100%" border="0">
                        <tr>
                            <td style="width: 239px; height: 68px"><a href="../">
                                <img src="../Images/logo.png" width="229" /></a> </td>
                            <td style="color: #000000; text-align: center; vertical-align: middle; font-size: 24px; font-weight: bold">SMART ASSET WEB</td>
                            <td style="width: 168px; vertical-align: top">
                                 <div style="text-align: right; padding: 3px">
                                    <a href="../Forms/HuongDanSuDung.aspx" target="_blank">Hướng dẫn sử dụng</a>
                                </div>
                                <div style="text-align: right; padding: 3px">
                                    <a href="../Actions/FileDownloadAction.ashx?id=1" target="_blank">Hướng dẫn sử dụng</a>
                                </div>

                                <div style="text-align: right; padding: 3px">
                                    <dx:ASPxLabel ForeColor="#415698" Font-Bold="true" runat="server" ID="lblUserFullName"></dx:ASPxLabel>
                                </div>
                                <div style="text-align: right; padding: 3px">
                                    <dx:ASPxHyperLink runat="server" ID="lnkLogout" NavigateUrl="../Actions/Logout.ashx" Text="Thoát"></dx:ASPxHyperLink>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr>
                            <td style="vertical-align: top; width: 239px">
                                <dx:ASPxNavBar ID="nvbMain" runat="server" EnableTheming="True" Theme="BlackGlass" Width="229px">
                                </dx:ASPxNavBar>
                            </td>
                            <td style="vertical-align: top">
                                <div>
                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table> --%>


        <section class="section-header">
            <div class="container">

                <div class="logo">
                    <a href="../">
                        <img src="../Images/logo.png" />
                    </a>

                </div>

                <div class="col-center-header">
                    <h1>  RUN DRAGON ADMIN <dx:ASPxHyperLink runat="server" ID="lh" NavigateUrl="../Files/sDragonLienHe.html" Text="Liên hệ"></dx:ASPxHyperLink>
                    </h1>
                </div>

                <div class="col-right-header">
                    <div class="content">
                        <%--  <p class="user-guide"><a href="../Forms/HelpDeskGuide.aspx" target="_blank">Hướng dẫn sử dụng</a></p>--%>
                        <p class="user-guide"><a href="../Forms/HelpDeskGuide.aspx" target="_blank">Hướng dẫn sử dụng </a></p>
                        <p class="user">
                            <dx:ASPxLabel ID="lblUserFullName" ClientInstanceName="lblUserFullName" runat="server"></dx:ASPxLabel>
                        </p>
                        <p class="login-logout">
                            <dx:ASPxHyperLink runat="server" ID="lnkLogout" NavigateUrl="../Actions/Logout.ashx" Text="Thoát"></dx:ASPxHyperLink>
                        </p>
                    </div>
                </div>
            </div>
        </section>



        <div class="dark_bg_black"></div>

        <table style="width: 100%">
            <tr>
                <td id="left_menu_sidebar" class="active">
                    <div class="left-content_menu box-content-showdown">
                        <div class="left-list-link-menu-left" id="left-content_menu-active">
                            <div id="left-list-link-menu-left-1">
                                <div class="hamburger-menu">
                                    <i class="arrow left1"></i><i class="arrow left2"></i>
                                    <i class="arrow right1"></i><i class="arrow right2"></i>
                                </div>

                                <dx:ASPxNavBar ID="nvbMain" runat="server" EnableTheming="True" Theme="BlackGlass" Width="229px">
                                </dx:ASPxNavBar>
                            </div>
                        </div>
                    </div>

                </td>

                <td>
                    <table style="width: 100%; padding-top: 20px;">
                        <tr>
                            <td style="vertical-align: top">
                                <div>
                                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
